@charset "utf-8";


body {
  background-color: $pt-app-background-color;
  font-feature-settings: "palt" 1, "pkna" 1 !important;
  user-select: none;
}

.bp3-popover2-backdrop {
  background-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
  width: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-thumb {
  background-color: $tag-default-color;
  border-radius: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba($tag-default-color, 1 - 0.15);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba($tag-default-color, 1 - 0.3);
}