@charset "utf-8";


.bp3-control.bp3-checkbox input:checked ~.bp3-control-indicator:before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 0 0-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0 0 12 5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.bp3-popover2-backdrop {
  background-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
}

.bp3-form-content >*:last-child {
  margin-bottom: 0px;
}

.react-codemirror2 {
  @extend .bp3-input;
  height: initial;
  padding: 0px;
  line-height: inherit;
  display: block;
  position: relative;
  &:focus-within {
    box-shadow: input-transition-shadow($input-shadow-color-focus, true), $input-box-shadow-focus;
  }
}

.react-codemirror2 >div {
  height: 100%;
  padding: 0em;
  font-family: inherit;
  background: transparent;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.react-codemirror2 >div *[class~="CodeMirror-lines"] {
  padding: $input-padding-horizontal 0px !important;
} 

.react-codemirror2 >div *[class~="CodeMirror-line"] {
  padding: 0px $input-padding-horizontal !important;
}

.react-codemirror2 >div *[class~="CodeMirror-selected"] {
  background: transparent !important;
}

.react-codemirror2 >div[class~="CodeMirror-focused"] *[class~="CodeMirror-selected"] {
  background: $pt-text-selection-color !important;
}

*::-webkit-scrollbar {
  width: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-thumb {
  background-color: $tag-default-color;
  border-radius: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba($tag-default-color, 1 - 0.15);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba($tag-default-color, 1 - 0.3);
}