@charset "utf-8";

@import "./variable.scss";
@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "./modification.scss";

@import "./page/main-page.scss";
@import "./compound/loading.scss";
@import "./compound/search-form.scss";
@import "./compound/word-editor.scss";
@import "./compound/word-pane.scss";


.zp-root {
  height: 100vh;
  padding: $pt-grid-size * 1.5;
}

.zp-navbar-root {
  padding-top: $pt-navbar-height + $pt-grid-size * 1.5 + 1px;
}