@charset "utf-8";

@import "./variable.scss";
@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~codemirror/lib/codemirror.css";
@import "./modification.scss";

@import "./atom/enhanced-progress-bar.scss";
@import "./compound/dictionary-settings-editor.scss";
@import "./compound/git-commit-executor.scss";
@import "./compound/git-status-pane.scss";
@import "./compound/pagination.scss";
@import "./compound/search-form.scss";
@import "./compound/word-editor.scss";
@import "./compound/word-list.scss";
@import "./compound/word-pane.scss";
@import "./page/main-page.scss";


body {
  background-color: $pt-app-background-color;
  font-feature-settings: $zp-font-feature-settings !important;
  user-select: none;
}

.zp-root {
  height: 100vh;
  padding: $zp-page-margin;
  padding-bottom: 0px;
}

.zp-navbar-root {
  padding-top: $pt-navbar-height + $zp-page-margin + 1px;
}