@charset "utf-8";

@import "./variable.scss";
@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~codemirror/lib/codemirror.css";
@import "./modification.scss";

@import "./atom/enhanced-progress-bar.scss";
@import "./compound/dictionary-settings-editor.scss";
@import "./compound/search-form.scss";
@import "./compound/word-editor.scss";
@import "./compound/word-pane.scss";
@import "./page/main-page.scss";


.zp-root {
  height: 100vh;
  padding: $zp-page-margin;
}

.zp-navbar-root {
  padding-top: $pt-navbar-height + $zp-page-margin + 1px;
}