@charset "utf-8";


$pt-font-family: "Brill Web", "Yu Mincho", serif;
$pt-font-family-sans: "Inter Web", "BIZ UDGothic", sans-serif;
$pt-font-family-shaleian: "vekos", "Arial", sans-serif;
$pt-font-family-monospace: "Consolas", "BIZ UDGothic", monospace;
$zp-font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;

$pt-grid-size: 10px;

$zp-page-margin: $pt-grid-size * 2;