@charset "utf-8";


$pt-font-family: "Linux Libertine G", "Times New Roman", "Source Han Serif", "IPA P明朝", "IPAex明朝", "BIZ UDPMincho", "YuMincho", "Yu Mincho", serif;
$pt-font-family-sans: "FreeSans", "Arial", "Source Hans Sans", "IPA Pゴシック", "IPAexゴシック", "BIZ UDPGothic", "YuGothic", "Yu Gothic", sans-serif;
$pt-font-family-monospace: "Iosevka Slab", "Source Han Sans Regular", monospace;

$pt-grid-size: 10px;

$zp-page-margin: $pt-grid-size * 2;