@charset "utf-8";


$zpgce-marker-width: 5px;
$zpgce-blank-margin: $pt-grid-size / 2;

$zpgce-status-colors: (
  added: $cobalt3,
  modified: $forest3,
  renamed: $violet3,
  deleted: $vermilion3
);

.zpgce-status-container {
  flex-grow: 1;
}

.zpgce-status-label {
  margin-bottom: $pt-grid-size / 2;
}

.zpgce-status-list {
  @extend .bp3-running-text;
  margin: 0px;
  padding: 0px;
  column-count: 2;
  column-gap: $pt-grid-size;
  list-style-type: none;
}

.zpgce-status-list >li {
  margin-left: $zpgce-marker-width + $zpgce-blank-margin;
  &::before {
    width: $zpgce-marker-width;
    margin-right: $zpgce-blank-margin;
    margin-left: -$zpgce-marker-width - $zpgce-blank-margin;
    content: "•";
    display: inline-block;
  }
}

.zpgce-type {
  @extend .bp3-tag;
  margin-right: $pt-grid-size / 2;
  padding: 0px $pt-grid-size * 0.3;
  min-width: $pt-grid-size * 1.6;
  min-height: $pt-grid-size * 0.8;
  justify-content: center;
}

@each $type, $color in $zpgce-status-colors {
  .zpgce-status-list >li.zpgce-#{$type} .zpgce-type {
    background-color: $color;
  }
}

@each $type, $color in $zpgce-status-colors {
  .zpgce-status-list >li.zpgce-#{$type} {
    color: $color;
  }
}

@each $type, $color in $zpgce-status-colors {
  .zpgce-status-list >li.zpgce-#{$type} .zpgce-extension {
    color: rgba($color, 0.6);
  }
}