@charset "utf-8";


.zpwdl-list-wrapper {
  height: 100%;
  padding-top: $zp-page-margin;
  padding-bottom: $zp-page-margin;
  padding-left: $zp-page-margin;
  padding-right: $zp-page-margin;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.zpwdl-suggestion {
  @extend .bp3-running-text;
  margin: 0px 0px $pt-grid-size * 1.5 $pt-grid-size * 0.2;
  padding: 0px;
  list-style: none;
}

.zpwdl-word {
  flex-grow: 1;
}