@charset "utf-8";


.zp-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.zp-editor >div >.bp3-tabs {
  margin-top: -$pt-grid-size;
}

.zp-editor >div,
.zp-editor >div >.bp3-tabs,
.zp-editor .bp3-tab-panel,
.zp-editor .bp3-tab-panel >* {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.zp-editor .bp3-tab-panel[aria-hidden="true"] {
  display: none;
}

.zp-editor-button {
  margin-top: $pt-grid-size * 2;
  display: flex;
  justify-content: flex-end;
}

.zp-editor-button >* {
  margin-right: $pt-grid-size;
  &:last-child {
    margin-right: 0px;
  }
}

.zpwde-head {
  margin-bottom: $pt-grid-size * 2;
  display: flex;
}

.zpwde-head >* {
  margin-right: $pt-grid-size;
  &:last-child {
    margin-right: 0px;
  }
}

.zpwde-date {
  padding-right: 1px;
  flex-basis: $pt-grid-size * 10;
  flex-grow: 0;
  flex-shrink: 0;
}

.zpwde-date >* {
  flex-grow: initial;
  flex-shrink: initial;
}

.zpwde-content {
  font-family: $pt-font-family-monospace;
  font-feature-settings: "palt" 0, "pkna" 0 !important;
  flex-grow: 1;
  resize: none;
}

.cm-s-zpshcontent .cm-operator {
  color: $turquoise3;
}

.cm-s-zpshcontent .cm-tag {
  color: $forest3;
}

.cm-s-zpshcontent .cm-date {
  color: $cobalt3;
}

.cm-s-zpshcontent .cm-markup {
  color: $pt-text-color-disabled;
}

.cm-s-zpshcontent .cm-escape {
  color: $gold3;
}