@charset "utf-8";


.zp-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.zp-editor >.bp3-tabs {
  margin-top: -$pt-grid-size;
}

.zp-editor >.bp3-tabs,
.zp-editor .bp3-tab-panel,
.zp-editor .bp3-tab-panel >* {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.zp-editor .bp3-tab-panel[aria-hidden="true"] {
  display: none;
}

.zp-editor-button {
  margin-top: $pt-grid-size * 2;
  display: flex;
  justify-content: flex-end;
}

.zp-editor-button >* {
  margin-right: $pt-grid-size * 2;
  &:last-child {
    margin-right: 0px;
  }
}

.zp-word-editor-head {
  margin-bottom: $pt-grid-size * 2;
  display: flex;
}

.zp-word-editor-head >* {
  margin-right: $pt-grid-size * 2;
  &:last-child {
    margin-right: 0px;
  }
}

.zp-word-editor-date {
  flex-basis: $pt-grid-size * 12;
  flex-grow: 0;
  flex-shrink: 0;
}

.zp-word-editor-date >* {
  flex-grow: initial;
  flex-shrink: initial;
}

.zp-word-editor-content {
  font-family: $pt-font-family-monospace;
  font-feature-settings: "palt" 0, "pkna" 0 !important;
  flex-grow: 1;
  resize: none;
}