@charset "utf-8";


.zp-word-pane-wrapper {
  margin-bottom: $pt-grid-size * 1.5;
  padding: 1px;
  border-radius: $pt-border-radius;
  box-shadow: input-transition-shadow($input-shadow-color-focus, false);
  transition: box-shadow ($pt-transition-duration * 2) $pt-transition-ease;
  outline: none;
  .zp-word-list >* >*:last-child & {
    margin-bottom: 0px;
  }
}

.zp-word-pane-wrapper:focus {
  box-shadow: input-transition-shadow($input-shadow-color-focus, true);
  >.swp-word {
    box-shadow: 0px 0px 0px 1px $card-background-color, nth($pt-elevation-shadow-0, 2), nth($pt-elevation-shadow-0, 3);
  }
  >.swp-word:hover {
    box-shadow: 0px 0px 0px 1px $card-background-color, nth($pt-elevation-shadow-3, 2), nth($pt-elevation-shadow-3, 3);
  }
  >.swp-word:active {
    box-shadow: 0px 0px 0px 1px $card-background-color, nth($pt-elevation-shadow-1, 2), nth($pt-elevation-shadow-1, 3);
  }
}

.swp-word {
  @extend .bp3-card;
  @extend .bp3-interactive;
  padding: $pt-grid-size;
}

.swp-section {
  margin-bottom: $pt-grid-size / 2;
  padding-bottom: $pt-grid-size / 2;
  border-bottom: 1px $pt-divider-black solid;
  &:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.swp-head {
  @extend %h4;
  margin-bottom: $pt-grid-size / 2;
}

.swp-head-name {
  font-weight: bold;
}

.swp-head .swp-tag {
  position: relative;
  bottom: 1px;
}

.swp-section-item {
  margin: 0px;
  margin-bottom: $pt-grid-size / 2;
  &:last-child {
    margin-bottom: 0px;
  }
}

.swp-list {
  padding: 0px;
  list-style: none;
}

.swp-list-item {
  margin: 0px;
  padding: 0px;
}

.swp-small-head {
  margin-bottom: $pt-grid-size * 0.2;
  font-size: $pt-font-size-small;
  color: $pt-text-color-muted;
}

.swp-small-head-inner {
  padding-right: $pt-grid-size;
  border-bottom: 1px $pt-divider-black solid;
}

.swp-text {
  @extend .bp3-running-text;
}

.swp-tag {
  @extend .bp3-tag;
  padding: 0px $pt-grid-size * 0.3;
  min-width: 0px;
  min-height: $pt-grid-size * 0.8;
}

.swp-section-item .swp-tag {
  @extend .bp3-minimal;
}

.swp-small {
  font-size: $pt-font-size-small;
}

.swp-right-margin {
  margin-right: $pt-grid-size * 0.5;
}

.swp-sans {
  font-family: $pt-font-family-sans;
  font-size: 96%;
  line-height: 96%;
}

.swp-italic {
  font-style: italic;
}