@charset "utf-8";


$swp-marker-colors: (
  circle: $vermilion3,
  square: $cobalt3,
  up: $forest3,
  diamond: $gold3,
  down: $violet3,
  cross: $lime3,
  pentagon: $turquoise3,
  heart: $rose3
);
$swp-marker-background-colors: (
  circle: mix($vermilion5, $card-background-color, 20%),
  square: mix($cobalt5, $card-background-color, 20%),
  up: mix($forest5, $card-background-color, 20%),
  diamond: mix($gold5, $card-background-color, 20%),
  down: mix($violet5, $card-background-color, 20%),
  cross: mix($lime5, $card-background-color, 20%),
  pentagon: mix($turquoise5, $card-background-color, 20%),
  heart: mix($rose5, $card-background-color, 20%)
);

$pt-modified-elevation-shadow-0: 0px 0px 0px 1px var(--marker-background-color), nth($pt-elevation-shadow-0, 2), nth($pt-elevation-shadow-0, 3);
$swp-word-marker-shadow: inset 0px 0px 0px #{$pt-grid-size / 2} var(--marker-background-color);

.zp-word-pane-wrapper {
  margin-bottom: $pt-grid-size * 1.5;
  padding: 1px;
  border-radius: $pt-border-radius;
  box-shadow: input-transition-shadow($input-shadow-color-focus, false);
  transition: box-shadow ($pt-transition-duration * 2) $pt-transition-ease;
  outline: none;
  .zp-word-list >* >*:last-child & {
    margin-bottom: 0px;
  }
}

.zp-word-pane-wrapper:focus {
  box-shadow: input-transition-shadow($input-shadow-color-focus, true);
  >.swp-word {
    box-shadow: $pt-modified-elevation-shadow-0, $swp-word-marker-shadow;
  }
}

.swp-word {
  @extend .bp3-card;
  --marker-background-color: #{$card-background-color};
  padding: $pt-grid-size;
  box-shadow: $pt-elevation-shadow-0, $swp-word-marker-shadow;
  cursor: pointer;
}

@each $marker, $color in $swp-marker-background-colors {
  .swp-word-#{$marker} {
    --marker-background-color: #{$color};
  }
}

.swp-section {
  margin-bottom: $pt-grid-size / 2;
  padding-bottom: $pt-grid-size / 2;
  border-bottom: 1px $pt-divider-black solid;
  &:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.swp-head {
  @extend %h4;
  margin-bottom: $pt-grid-size / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swp-head-name {
  margin-right: $pt-grid-size;
  font-weight: bold;
}

.swp-head-date {
  @extend .bp3-text-small;
}

.swp-head .swp-tag {
  position: relative;
  bottom: 1px;
}

.swp-markers {
  display: flex;
  flex-direction: row;
}

.swp-marker {
  margin-right: $pt-grid-size / 2;
  &:last-child {
    margin-right: 0px;
  }
}

.swp-marker >svg {
  vertical-align: top;
}

@each $marker, $color in $swp-marker-colors {
  .swp-marker-#{$marker} >svg {
    fill: $color;
  }
}

.swp-section-item {
  margin: 0px;
  margin-bottom: $pt-grid-size / 2;
  &:last-child {
    margin-bottom: 0px;
  }
}

.swp-list {
  padding: 0px;
  list-style: none;
}

.swp-list-item {
  margin: 0px;
  padding: 0px;
}

.swp-small-head {
  margin-bottom: $pt-grid-size * 0.2;
  font-size: $pt-font-size-small;
  color: $pt-text-color-muted;
}

.swp-small-head-inner {
  padding-right: $pt-grid-size;
  border-bottom: 1px $pt-divider-black solid;
}

.swp-text {
  @extend .bp3-running-text;
}

.swp-tag {
  @extend .bp3-tag;
  padding: 0px $pt-grid-size * 0.3;
  min-width: 0px;
  min-height: $pt-grid-size * 0.8;
}

.swp-section-item .swp-tag {
  @extend .bp3-minimal;
}

.swp-small {
  font-size: $pt-font-size-small;
}

.swp-right-margin {
  margin-right: $pt-grid-size * 0.5;
}

.swp-sans {
  font-family: $pt-font-family-sans;
  font-size: 96%;
  line-height: 96%;
}

.swp-italic {
  font-style: italic;
}