@charset "utf-8";


.zpmnp-root {
  display: flex;
  flex-direction: column;
}

.zpmnp-search-form-container {
  margin-top: -$zp-page-margin - 1px;
  margin-left: -$zp-page-margin;
  margin-right: -$zp-page-margin;
  padding-top: $zp-page-margin + 1px;
  padding-left: $zp-page-margin;
  padding-right: $zp-page-margin;
  padding-bottom: $zp-page-margin;
  background-color: $light-gray4;
  box-shadow: $pt-elevation-shadow-1;
  z-index: $pt-z-index-content - 1;
}

.zpmnp-word-list-container {
  margin-top: 1px;
  margin-bottom: -$zp-page-margin;
  margin-left: -$zp-page-margin;
  margin-right: -$zp-page-margin;
  padding-top: $zp-page-margin;
  padding-bottom: $zp-page-margin;
  padding-left: $zp-page-margin;
  padding-right: $zp-page-margin;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
  position: relative;
}

.zpmnp-save-progress-bar {
  margin-top: $pt-grid-size / 2;
}