@charset "utf-8";


.zp-main-page {
  display: flex;
  flex-direction: column;
}

.zp-search-form-container {
  margin-top: -$pt-grid-size * 1.5 - 1px;
  margin-left: -$pt-grid-size * 1.5;
  margin-right: -$pt-grid-size * 1.5;
  padding-top: $pt-grid-size * 1.5 + 1px;
  padding-left: $pt-grid-size * 1.5;
  padding-right: $pt-grid-size * 1.5;
  padding-bottom: $pt-grid-size * 1.5;
  background-color: $light-gray4;
  box-shadow: $pt-elevation-shadow-1;
  z-index: $pt-z-index-content - 1;
}

.zp-word-list-container {
  margin-top: 1px;
  margin-bottom: -$pt-grid-size * 1.5;
  margin-left: -$pt-grid-size * 1.5;
  margin-right: -$pt-grid-size * 1.5;
  padding: $pt-grid-size * 1.5;
  padding-top: $pt-grid-size * 1.5;
  padding-bottom: $pt-grid-size * 1.5;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}